*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   /* background-color: rgb(32, 57, 66); */
    font-family: sans-serif;
   /* color: rgb(248, 245, 245) */
    
    ;
}
#mainPage{
    background: url(./images/imgi_92_StuffedSquashPreservedLemonGravy_RECIPE_100621_222.jpg);
}
#welcome{
  background-color: #170909;
}

nav {
    display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 20px;
}
nav h1{
  margin-left: 40px;
  color: black;

}
nav img{
    width: 100px;
    height: 100px;
}
nav div a{
   margin: 0 50px;
   text-decoration: none;
   font-weight: 700;
   color: #170909;

}
nav div .signUp{
  border: 2px solid none;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: #ffa33a;
 
}
.logOut {
  color: rgb(9, 9, 9);
  border-radius: 10px;
  border: 2px solid ;
  background-color: yellow;
  padding: 10px;

}



.hero{
  position:relative;
  top: 150px; 
  justify-items: center;
 font-size: 25px;
 line-height: 50px;
 
  
}
.hero h1{
  color: #170909 ;
}
.hero h2{
 color: rgb(211, 5, 5);
}
.hero p {
  color: #170909;
}
.hero input{
  background-color: white;
  width: 600px;
 
 position: relative;
 top: 50px;
 height: 55px;
 transform: (-50%, -50%);
 top: 110%;
 left: 29%;
 border-radius: 200px;
 border: none;
 color: black;
}
.hero ::placeholder{
  font-size: 20px;
 
}

.auth{
 background: url(./images/imgi_132_frozen-strawberry-daiquiri_RECIPE_V7_032525_1303_VOG_final.jpg);
}
.auth2{
 background: url(./images/imgi_134_20250312_03_Saketini_081_FINAL_LEDE.jpg);
}

 .cookRegister{
 padding-top: 15px;
 position: relative;
 top: 25px;
 border-width: 200px;
 width: 350px;
 left: 510px;
 height: 570px;
 background: url(./images/imgi_133_purple-drink_RECIPE_V1_030525_0054_VOG_final.jpg);
 place-items: center;
 justify-content: center;
 align-items: center;
 display: flex;
 
 line-height: 30px;
 border-radius: 20px;
 font-size: 15px;
 font-style: italic;
 
 
 
 }
 .cookRegister2{
 padding-top: 15px;
 position: relative;
 top: 120px;
 border-width: 200px;
 width: 380px;
 left: 520px;
 height: 280px;
 background: url(./images/imgi_133_purple-drink_RECIPE_V1_030525_0054_VOG_final.jpg);
 place-items: center;
 justify-content: center;
 align-items: center;
 
 line-height: 30px;
 border-radius: 20px;
 font-size: 15px;
 font-style: italic;
 
 
 
 }
 .cookRegister:hover{
 transform: scale(1.05,1.05);

 }
 .cookRegister2:hover{
 transform: scale(1.1,1.1);

 }
form input{
  width: 300px;
  height: 40px;
  line-height: 20px;
  background-color: rgb(254, 253, 253);
  border-radius: 10px;
  padding: 10px;
  color: black;
  border: none;

 
}
form p {
  color: brown;
  font-weight: 600;
}
button{
  background-color: yellow;
  padding: 7px 15px;
  margin-top: 20px;
  border-radius: 1px;
  font-weight: 600;
 align-items: center;
 border: none;
 margin-left: 20px;
 margin-top: 10px;

}
button:hover{
  background-color: brown;
  color: yellow;

}

form label{
  color: white;
  
}
form p a {
  justify-content: space-between;
}
/* @media (max-width: 900px) {
  nav {
    grid-template-columns: fr;
    text-align: center;
  }
} */

/* #welcome{
  background-color: white;
  color: black;
} */